html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500 !important;
}

#logo {
  max-width: 60px;
  max-height: 60px;
  margin-right: 20px;
}
#top {
  width: calc(100% - 370px);
  height: 100px;
  position: fixed;
  background-color: #f1efef;
  border-bottom: 2px solid #f79257;
  z-index: 2;
  display: inline-block;
  left: 373px;
}
#title {
  font-weight: 600;
  margin-right: 75px;
}
#logoWrapper{
  width: 373px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f1efef;
  position: fixed;
}
#userIcon {
  float: right;
  transform: scale(2.5);
  position: fixed;
  z-index: 9999;
  margin-top: 35px;
  margin-left: 95%;
  color: #f79257;
  padding: 5px 6px;
  border: 1px solid #f79257;
  border-radius: 15px;
}
#controls {
  float: left;
  width: 375px;
  height: 700px;
  border-right: 2px solid #F79257;
  border-bottom: 2px solid #F79257;
  position: fixed;
  background-color: #f1efef;
  z-index: 3;
  top: 100px;
}
#addContentContainer {
  margin-top: 25px;
}
#getContentContainer {
  margin-top: 3vh
}

#allStatusOption {
  background-color: #fff !important;
}

.controlsTitle {
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}
.inputField {
  margin-left: 15px !important;
}

.col-2 {
  max-width: 20% !important;
}

#otherField, #getOtherField {
  transition: background-color .25s;
}
#addSubmitButton, #getSubmitButton, #editTableButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#editTableButton {
  margin-top: 25px;
  margin-left: 0;
  position: fixed;
  z-index: 9999;
  margin-left: calc(95% - 240px);
  width: 180px;
}

#tableContainer {
  width: calc(100% - 375px);
  margin-top: 120px;
  z-index: 1;
  position: relative;
  float: right;
}
#contentTable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 3vh;
  table-layout: fixed;
}

.tableHeader{
  border: none !important;
}
#nameHeader, #typeHeader, #yearHeader, #imageHeader {
  cursor: pointer;
}

.statusColumn {
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: visible;
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
  border-top: .6em solid;
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
}
.dropdown-menu {
  min-width: 10px;
  width: 120px;
}


td {
  position: relative;
  height: 10vh;
  overflow: hidden;
  border: none !important;
}

.rowDropDownWrapper {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.rowDropDown {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  border: 1.25px solid #fff !important;
  border-radius: 0px !important;
}
.dataCell {
  vertical-align: middle !important;
  font-size: 1.5em;
}

.rowDropDown option {
    color: black;
}

.deleteButtonContainer {
  visibility: hidden;
  opacity: 0;
  margin-left: 2em;
  margin-top: calc(7.5vh - 40px);
  position: absolute;
}

.deleteButton {
  transform: scale(2.5);
  cursor: pointer;
  transition: color .25s;
}

.marked {
  color: #f79257;
}

.wishList {
  background-color: #5C946F !important;
}
.inProgress {
  background-color: #f79257 !important;
}
.complete {
  background-color: #AED9F4 !important;
}

.tableImg {
  max-width: 100%;
  max-height: 100%;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-height: 700px){
  .form-group {
    margin-bottom: .25rem !important;
  }
  .form-control, .custom-select {
    height: 25px !important;
    font-size: 75% !important;
  }
  #addContentContainer, #getContentContainer {
    margin-top: 10px;
    font-size: 75%;
  }
  .controlsTitle {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1050px){
  .rowDropDownWrapper {
    width: 15px;
    height: 15px;
  }

  .dropdown-toggle:empty::after {
    border-top: .4em solid;
    border-left: .2em solid transparent;
    border-right: .2em solid transparent;
    padding-bottom: .25em;
    margin-top: 0px;
  }
  #editTableButton {
    margin-left: calc(90% - 200px);
    transform: scale(.75);
  }
  #userIcon {
    margin-left: 90%;
  }
  #contentTable {
    width: 85%;
  }
  .deleteButtonContainer{
    margin-left: 1em;
    transform: scale(.75);
    margin-top: calc(7.5vh - 30px);
  }
  .dataCell {
    font-size: 1.0em;
  }
}