html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
}
#top {
  width: 100%;
  height: 6vh;
  position: fixed;
  background-color: #f1efef;
  border-bottom: 2px solid #f79257;
  z-index: 2;
}
#logoWrapper{
  width: 25vw;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
#userIcon {
  float: right;
  transform: scale(2.0);
  margin-right: 50px;
  position: relative;
  top: 33%;
}
#controls {
  float: left;
  width: 25vw;
  height: 60vh;
  border-right: 2px solid #F79257;
  border-bottom: 2px solid #F79257;
  position: fixed;
  background-color: #f1efef;
  margin-top: 5.85vh;
  z-index: 3;
}
#addContentContainer {
  margin-top: 1vh;
}
#getContentContainer {
  margin-top: 3vh
}

.controlsTitle {
  margin-left: .5vw;
}
.inputField {
  margin-left: 1vw !important;
}

.col-2 {
  max-width: 20% !important;
}

#otherField, #getOtherField {
  transition: background-color .25s;
}
#addSubmitButton, #getSubmitButton, #editTableButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#editTableButton {
  margin-top: 5vh;
}

#tableContainer {
  width: 79.5%;
  margin-top: 6vh;
  margin-left: 20vw;
  display: inline-block;
  z-index: 1;
  position: relative;
}
#contentTable {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  margin-top: 3vh;
  table-layout: fixed;
}

th {
  cursor: pointer;
}

td {
  position: relative;
  height: 10vh;
  overflow: hidden;
  border: none !important;
}

.rowDropDownWrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

.rowDropDown {
    position: absolute;
    background: transparent;
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(0,0,0,0);
    border: 1.5px solid white;
    width: 30px;
}

.rowDropDown option {
    color: black;
}

.deleteButtonContainer {
  display: table-cell;
  vertical-align: middle;
}

.deleteButton {
  height: 40px;
}

.wishList {
  background-color: #5C946F;
}
.inProgress {
  background-color: #E8DB7C;
}
.complete {
  background-color: #AED9F4;
}

.tableImg {
  max-width: 100%;
  max-height: 100%;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}